* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.header__start {
  background: var(--grey, #454f5b);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.header__start-item {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1.92px;
}
.header__start-ancer {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  width: 20%;
  letter-spacing: 1.92px;
  text-decoration-line: underline;
}
.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header__center ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__center li {
  margin: 0 20px;
}
.header__center li > a {
  padding: 12px;
  color: var(--black, #161c24);
  font-size: 20px;
  font-weight: 300;
}
.header__center li > a:hover {
  background: var(--grey, #454f5b);
  border-radius: 5px;
  color: var(--white, #fff);
}
.header__right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__right-ancer {
  margin-left: 10px;
  color: var(--grey, #454f5b);
  font-size: 18px;
  font-weight: 400;
}
.header__right div {
  display: flex;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}
.home__title {
  color: var(--dark-grey, #575757);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 20px;
}
.home__title span {
  color: #9d9d9d;
}
.home__subtitle {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  margin-top: 40px;
  line-height: 42px;
}
.home__subtitle span {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.filter__btn {
  color: var(--black, #161c24);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 288px;
  height: 40px;
  border: 1px solid var(--light-blue, #add7ff);
  background: #fff;
  margin-top: 32px;
  cursor: pointer;
}
.home__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__wrap select {
  width: 194px;
  height: 40px;
  padding: 0 16px;
}
.home__block {
  display: flex;
  margin-top: 32px;
}
.home__wrapper {
  height: 530px;
  width: 288px;
  padding: 24px;
  border-radius: 2px;
  border: 1px solid var(--light-grey, #c4cdd5);
  background: #fff;
}
.home__filter {
  color: var(--black, #161c24);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}
.card__box {
  width: 340px;
  border-radius: 5px;
  background: #fff;
  box-shadow: -1px 0px 0px 0px #eaeaea inset, 1px 0px 0px 0px #eaeaea inset,
    0px -1px 0px 0px #eaeaea inset;
  cursor: pointer;
  transition: all ease 0.3s;
}
.card__box:hover {
  transform: translateY(-10px);
}
.card__img {
  width: 100%;
  height: 320px;
  object-fit: fill;
}

.home__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 50px;
  gap: 30px 0;
}
.card__wrapper {
  padding: 10px;
}
.card__starts {
  display: flex;
  align-items: center;
  width: 110px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.card__desc {
  color: var(--grey, #454f5b);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 26px;
}
.card__price {
  color: var(--black, #161c24);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}
.user__block {
  display: flex;
  gap: 50px;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
}
.user__images {
  width: 30vw;
  height: 80vh;
  object-fit: fill;
  border-radius: 10px;
}
.user__title {
  color: var(--black, #161c24);
  font-size: 44px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
}
.user__desc {
  color: var(--grey, #454f5b);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 24px;
}
.sale {
  color: var(--grey, #454f5b);
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}
.user__price {
  color: var(--black, #161c24);
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
}
.user__btn {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 12px 0;
  width: 220px;
  background-color: #4296e4;
  border: none;
  margin-top: 50px;
  cursor: pointer;
  opacity: 0.7;
}
.user__btn:active {
  opacity: 1;
  background-color: #4296e4;
}
.count {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  right: 30px;
  top: -15px;
  color: blue;
  font-weight: 800;
  font-size: 18px;
}
.filter__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.home__wrapper hr {
  margin-top: 15px;
}
.filter__input {
  color: var(--black, #161c24);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 240px;
  padding: 10px 0;
  margin-top: 30px;
}
.filter__input::placeholder {
  color: var(--black, #161c24);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
}
.price-product-deleted {
  color: var(--grey, #454f5b);
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  text-decoration: line-through;
  margin-left: 30px;
}
.price__box {
  display: flex;
  align-items: center;
}
.visited__block {
  margin-top: 100px;
}
.visited__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.visited__wrapper {
  padding: 10px;
  background: #fff;
  box-shadow: -1px 0px 0px 0px #eaeaea inset, 1px 0px 0px 0px #eaeaea inset,
    0px -1px 0px 0px #eaeaea inset;
}
.visited__wrapper img {
  width: 100%;
}
.visited__wrapper h2 {
  color: var(--grey, #454f5b);
  font-size: 16px;
  font-weight: 400;
  width: 284px;
  line-height: 26px;
}
.visited__place {
  color: var(--black, #161c24);
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  line-height: normal;
}
.visited__sale {
  color: var(--grey, #454f5b);
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: line-through;
  margin-top: 10px;
  margin-left: 10px;
}
.eget__block {
  margin-top: 96px;
}
.eget__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 82px;
}
.eget__box h2 {
  color: var(--black, #161c24);
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 25px;
}
.eget__box p {
  color: var(--grey, #454f5b);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  width: 605px;
  margin-bottom: 24px;
}
.eget__form {
  width: 400px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.eget__form p {
  color: var(--black, #161c24);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.eget__block input {
  margin-right: 5px;
}
.eget__parag {
  color: var(--grey, #454f5b);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 15px;
}
.footer__top {
  background: var(--bg-light, #f2f8ff);
  margin-top: 20px;
  padding: 60px 0;
}
.footer__top h2 {
  color: var(--black, #161c24);
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  line-height: 62px;
}
.footer__top p {
  color: var(--grey, #454f5b);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 24px auto;
  width: 518px;
}
.footer__top-form {
  margin: 24px auto;
  width: 670px;
  display: flex;
  gap: 24px;
  margin-top: 24px;
}
.footer__top-form input {
  background: rgba(22, 28, 36, 0.04);
  padding: 12px 16px;
  border: none;
  color: var(--grey, #454f5b);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.footer__top-form button {
  width: 220px;
  padding: 12px 0;
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  background: var(--main, #4295e4);
  border: none;
}
.footer {
  background-color: #0d2436;
  padding: 25px 0;
  box-shadow: 0px 1px 0px 0px #c4cdd5 inset;
}
.footer__block {
  margin-top: 30px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.footer__logo {
  width: 105px;
  height: 88px;
}
.footer__list {
  color: var(--white, #fff);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
}
.footer__item li {
  margin-top: 15px;
}
.footer__item p {
  color: var(--light-grey, #c4cdd5);
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 24px;
}
.footer__item a {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  padding: 5px 0;
}
.footer__images {
  margin-top: 144px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.footer__hr {
  margin-top: 50px;
  opacity: 0.08;
  background: #fff;
}
.footer__subtitle {
  color: var(--white, #fff);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 24px;
}
